<p-table #dt1 [value]="states" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['State', 'Statecode', 'CountryName','IGST','SGST','CGST', 'IsActive']">
    <ng-template pTemplate="caption">
        <div class="caption-container" style="display: flex; justify-content: space-between; align-items: center;">
            <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="colmsearch" placeholder="Search"
                    (input)="dt1.filterGlobal($any($event.target).value, 'contains')">
            </span>
            <button pButton pRipple label="+Add" class="custom-button" (click)="openadd()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr class="custom-header" style="font-family: 'Times New Roman', Times, serif;">
          
           
          
            <th pSortableColumn="State" style="width:20%">
                State 
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="State"></p-sortIcon>
                    <p-columnFilter type="text" field="State" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="Statecode" style="width:20%">
                Statecode 
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="Statecode"></p-sortIcon>
                    <p-columnFilter type="text" field="Statecode" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="CountryName" style="width:20%">
                Currency 
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="CountryName"></p-sortIcon>
                    <p-columnFilter type="text" field="CountryName" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="IGST" style="width:20%">
                IGST
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="IGST"></p-sortIcon>
                    <p-columnFilter type="text" field="IGST" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="SGST" style="width:20%">
                SGST 
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="SGST"></p-sortIcon>
                    <p-columnFilter type="text" field="SGST" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="CGST" style="width:20%">
                CGST 
                <div class="flex align-items-center">
                     
                    <p-sortIcon field="CGST"></p-sortIcon>
                    <p-columnFilter type="text" field="CGST" display="menu"></p-columnFilter>
                </div>
            </th>
           
            <th pSortableColumn="IsActive" style="width:20%">
                Active <p-sortIcon field="IsActive"></p-sortIcon>
            </th>
            <th pSortableColumn="Actions" style="width:20%">
                Actions <p-sortIcon field="Actions"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-state>
        <tr style="font-family: 'Times New Roman', Times, serif;">
            <td>{{ state.State }}</td>
            <td>{{ state.Statecode }}</td>
            <td>{{ state.CountryName }}</td>
            <td>{{ state.IGST }}</td>
            <td>{{ state.SGST }}</td>
            <td>{{ state.CGST }}</td>

    
            <td>
                <i *ngIf="state.IsActive" class="pi pi-check green-tick-circle"></i>
                <i *ngIf="!state.IsActive" class="pi pi-times" style="color: red;"></i>
            </td>
            <td>
                <span (click)="editstate(state)" style="cursor: pointer; color: aqua; display: inline-block; margin-right: 5px;">
                    <i class="pi pi-user-edit"></i>
                </span>
                <span  (click)="deletestatedata(state.Id)" style="cursor: pointer; color: red; display: inline-block;">
                    <i class="pi pi-trash"></i>
                </span>
            </td>
        </tr>
    </ng-template>
    
</p-table>
 <p-dialog header="LookUp" [(visible)]="showform" [style]="{width: '70vw','background-color':'white'}">
    <div class="container">
        <form class="row g-3" [formGroup]="stateform" style="font-family: 'Times New Roman', Times, serif;">
            <div class="col-md-4">
                <label for="State" class="form-label">State <span class="required-asterisk">*</span> :</label>
                <input type="text" pInputText id="State" class="form-control" formControlName="State">
            </div>
            <div class="col-md-4">
                <label for="Statecode" class="form-label">Statecode <span class="required-asterisk">*</span> :</label>
                <input type="text" pInputText id="Statecode" class="form-control" formControlName="Statecode">
            </div>
            <div class="col-md-4">
                <label for="CountryName" class="form-label">CountryName <span class="required-asterisk">*</span> :</label>
                <p-dropdown 
                formControlName="CountryId"  
                [options]="countries" 
                optionLabel="CountryName"
                optionValue="CountryId"
                placeholder="Select a CountryName"
                appendTo="body">
                </p-dropdown>
            </div>
            <div class="col-md-4">
                <label for="IGST" class="form-label">IGST <span class="required-asterisk">*</span> :</label>
                <input type="text" pInputText id="IGST" class="form-control" formControlName="IGST">
            </div>
            
            <div class="col-md-4">
                <label for="SGST" class="form-label">SGST <span class="required-asterisk">*</span> :</label>
                <input type="text" pInputText id="SGST" class="form-control" formControlName="SGST">
            </div>
            
            <div class="col-md-4">
                <label for="CGST" class="form-label">CGST <span class="required-asterisk">*</span> :</label>
                <input type="text" pInputText id="CGST" class="form-control" formControlName="CGST">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" [disabled]="stateform.invalid" (click)="Submit()">Create</button>
            </div>
        </form>
    </div>
</p-dialog>
